        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'roboto';
        }
        
        html,
        body {
            height: 100%;
            width: 100%;
            position: relative;
        }
        
        #anime {
            /* background-color: red; */
            height: 30%;
            position: relative;
        }
        
        #anime video {
            width: 100%;
        }
        
        #bank {
            text-align: center;
            padding: 3vw;
        }
        
        #one h3 {
            font-size: 6vw;
            white-space: norap;
            padding-bottom: 5vw;
            font-weight: 600;
        }
        
        #two {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2VW;
        }
        
        #two img {
            width: 5vw;
        }
        
        #two {
            padding-bottom: 3vw;
        }
        
        #two h4 {
            font-weight: 500;
            color: rgb(48, 48, 48);
        }
        
        #three h5 {
            font-weight: 500;
            color: rgb(97, 97, 97);
        }
        
        #re {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2vw;
        }
        
        #re img {
            width: 7vw;
            text-align: center;
            padding-top: 1.5vw;
        }
        
        #last img {
            width: 100%;
        }
        
        #done {
            width: 100%;
            height: 20vw;
            border-top: 1px solid #5F259F;
            position: fixed;
            background-color: #fff;
            top: 97%;
            text-decoration: none;
        }
        
        #done a {
            text-decoration: none;
            text-align: center;
            padding-right: 2vw;
        }